.HomePage {
  margin: 50px;
  padding: 3%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 1;
  border-radius: 28px;
  box-shadow: 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.456);
  background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%);
}
