.CardPage {
  margin: 5%;
  padding: 2%;
}

.Card {
  background: black;
  margin: 2px;
  padding: 6%;
  border: 2px solid black;
  height: fit-content;
  width: 200px;
  transition: 0.4s ease-in;
  position: fixed;
}

.Card_image {
  height: fit-content;
}

.Card:hover {
  transform: scale(1.1);

  z-index: 2;
}
