.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.Modal {
  background: rgba(40, 0, 0, 0.76);
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 20%;
  margin-bottom: 20%;
  padding: 3%;
  height: 700px;
  width: inherit;
  border: 1px solid black;
  border-radius: 8px;
  transition: 0.1s ease-out;
  overflow-y: scroll;
}

.Modal::-webkit-scrollbar {
  width: 1rem;
}

.Modal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 6px rgba(0, 0, 0, 0.3);
}

.Modal::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.523);
  border-radius: 8px;
  outline: 1px solid black;
}

.Modal:hover {
  transform: scale(1);
  box-shadow: 0.8rem 0.9rem #b6b5b57e;
}

.Modal_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal_btn {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 15px;
  background: rgba(10, 10, 10, 0.672);
  color: black;
  float: right;
  width: 70px;
  height: 40px;
  margin-bottom: 6%;
  color: whitesmoke;
  transition: 0.3s ease;
  scroll-margin-bottom: 5%;
}

.Modal_btn:hover {
  transform: scale(1);
  border: 3px solid #ff0008;
  color: red;
  box-shadow: unset 0.5rem 0.5rem rgba(255, 0, 0, 0.646);
}

.Image_cont {
  border-radius: 8px;
  height: 320px;
  width: 250px;
  margin-left: 34%;
  margin-bottom: 2%;
  background: rgba(230, 61, 61, 0.381);
  z-index: 2;
}

.my-tooltip-btn {
  transition: 0.4s ease-out;
  box-shadow: 0.2rem 0.2rem rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.my-tooltip-btn:hover {
  transform: scale(1);
  box-shadow: 0.5rem 0.5rem rgba(255, 255, 255, 0.5);
}
