.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.Modal {
  background: rgba(40, 0, 0, 0.76);
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 20%;
  padding: 2%;
  height: auto;
  width: inherit;
  border: 1px solid black;
  border-radius: 8px;
  transition: 0.1s ease-out;
}

.Modal:hover {
  transform: scale(1);
  box-shadow: 0.8rem 0.9rem #b6b5b57e;
}

.Modal_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal_btn {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  background: rgba(10, 10, 10, 0.672);
  color: black;
  float: right;
  width: 70px;
  height: 40px;
  margin-top: 3%;
  color: whitesmoke;
  transition: 0.3s ease;
}

.Modal_btn:hover {
  transform: scale(1);
  border: 1px solid #ef0107;
  color: red;
  box-shadow: 0.5rem 0.5rem rgba(255, 0, 0, 0.646);
}

.Image_cont {
  border-radius: 8px;
  height: 320px;
  width: 250px;
  margin-left: 34%;
  margin-bottom: 8%;
  background: rgba(230, 61, 61, 0.381);
}
